# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# WebdriverIO reports & logs
allure-results/
allure-report/
*.log
logs/
.errorShots/

# Coverage
coverage/

# IDE / Editor
.vscode/
.idea/
.DS_Store

# Env files
.env
.env.local

# Test api reports
api-test/reports/